.profile-container {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    margin: auto;
}

.profile-image {
    object-fit: cover;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}